.section-contact {
  background-color: rgb(247, 244, 244);
  border-bottom: 1px solid gray;
}
.contact-form-paragraph {
  margin-bottom: 40px;
}
.contact-form {
  margin-top: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: white;
  text-align: center;
  border: 2px solid palevioletred;
  width: 50%;
  margin-left: 25%;
}
.input-box-small,
.input-box-large {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 45px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  border: 1px solid rgb(224, 222, 222);
  background-color: rgb(241, 238, 238);
}
.input-box-small {
  width: 37%;
}
.input-box-large {
  width: 75%;
}
.input-box-small:hover,
.input-box-large:hover {
  border: 2px solid black;
}
.button-learn-more {
  width: 25%;
}
